<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p id='serverTime'></p>
    <label for='userName'>username:</label>
    <input id='userName>'><br><br>
    <label for='message'>message:</label>
    <input id='message'><br><br>
    <button onclick='sendMessage()'>Send</button>
    <p id='messages'></p>
    <script src='/socket.io/socket.io.js'></script>
    <script>
      var socket = io()
      socket.on('time', uppdateTime)
      socket.on('chatHistory', (chatHistoryText) => {
        let rows = JSON.parse(chatHistoryText)
        let messages = ''
        rows.forEach(element => {
          messages += `${element.user_name}: ${element.message}<br>`
        })
        document.getElementById('messages').innerHTML = messages
      })
      function sendMessage(){
        socket.emit('newMessage', document.getElementById('userName').value, document.getElementById('message').value)
      }
      function uppdateTime(timeString){
        document.getElementById('serverTime').innerHTML = 'Server time: ' + timeString
      }
    </script>
  </body>
</html>