<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p id="serverTime"></p>
    <label for="userName">username:</label>
    <input id="userName>"><br><br>
    <label for="message">message:</label>
    <input id="message>"><br><br>
    <p id="messages"></p>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io()
      socket.on('time', (timeString) => {
        document.getElementById('serverTime').innerHTML = 'Server time: ' + timeString
      })
      socket.on('chatHistory', (chatHistory) => {
        document.getElementById('messages').innerHTML = chatHistory
      })
    </script>
  </body>
</html>