<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p id='serverTime'></p>
    <label for='userName'>username:</label>
    <input id='userName>'><br><br>
    <label for='message'>message:</label>
    <input id='message'><br><br>
    <button onclick='sendMessage()'>Send</button>
    <p id='messages'></p>
    <script src='/socket.io/socket.io.js'></script>
    <script>
      var socket = io()
      socket.on('time', (timeString) => {
        document.getElementById('serverTime').innerHTML = 'Server time: ' + timeString
      })
      socket.on('chatHistory', (chatHistoryText) => {
        document.getElementById('messages').innerHTML = chatHistoryText
      })
      function sendMessage(){
        socket.emit('newMessage', document.getElementById('message').innerHTML)
      }
    </script>
  </body>
</html>